@import "tailwindcss";

* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("https://www.transparenttextures.com/patterns/paper-fibers.png");
  background-color: #C8AE7E;
  font-family: Inter, sans-serif;
}

h1, h2 {
  font-family: "DM Serif Text", serif;
}


